* { margin: 0; padding: 0; outline: 0; }

body { font-size: 12px;line-height: 20px;font-family: arial, sans-serif;color: #514d34;background: #303030;min-width: 1001px;}
a { color: #d22e03; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell,.shell2,.shell3,.shell4,.shell5 { width: 1001px; margin: 0 auto; }
.shell3 { background:#fff}

#header { background: #4cb050; }

#logo { padding: 28px 0 0 21px; }
#logo .slogan { font-size: 10px; line-height: 12px; color: #5f1408; text-transform: uppercase; }
#logo a { display: block; width: 191px; height: 51px;}

#navigation { display: inline; float: right; padding-right: 18px; }
#navigation ul li { display: inline; float: left; line-height: 99px; }
#navigation ul li { font-family: Georgia, 'times new roman', serif; font-weight: bold; font-size: 16px; text-shadow: 0 -1px #932609; }
#navigation ul li a { color: #fff; float: left; padding-left: 10px; height: 99px;}
#navigation ul li a span { float: left; padding-right: 20px;}
#navigation ul li a:hover { color:#ffeb3c;text-decoration: none; background-position: left 0; }
#navigation ul li a:hover span { background-position: right 0; }

#slider { padding-top: 12px; height: 382px; background: #9fafff; }

#slider-frame { position: relative; padding: 21px 0 22px 19px; width: 980px; background: url(images/slider-frame.png) no-repeat 0 0; }
#slider-frame h2 { padding-left:10px;padding-bottom:5px;color:#aa2b0a;}
#carousel .jcarousel-container,
#carousel .jcarousel-clip,
#carousel ul li { float: left; position: relative; overflow: hidden; width: 644px; height: 318px; }
#carousel .caption { position: absolute; bottom: 0; left: 0; padding: 12px 0 0 19px; width: 625px; height: 90px; background: url(images/caption.png) repeat-x 0 0; }
#carousel .caption h2 { font-family: Georgia, 'times new roman', serif; font-size: 37px; line-height: 40px; color: #fff; font-weight: normal; font-style: italic; }
#carousel .caption p { font-size: 13px; color: #fff; }

.crop { width: 640px;height: 318px;overflow: hidden;background:#f0d7a1;}
.crop img { width: 640px;height: 290px;}
.slider-nav { position: absolute; top: 21px; right: 22px; width: 312px; background: url(images/thumbs-border.png) no-repeat right 0; }
.slider-nav li { overflow: hidden; list-style: none; padding: 2px 0 8px 17px; width: 294px; height: 68px; line-height: 18px; }
.slider-nav li { color: #45402a; background: url(images/thumb-bg.png) no-repeat 0 0; cursor: pointer; }
.slider-nav li.first {margin-top: 4px; }
.slider-nav li.active { background: url(images/thumb-active.png) no-repeat 0 0;  }
.slider-nav li h3 { padding: 8px 0 6px; font-family: Georgia, 'times new roman', serif; font-size: 18px; font-style: italic; font-weight: normal; color: #000; }
.slider-nav li a { display: block; float: left; margin-right: 14px; padding: 2px; width: 94px; height: 67px; }
.slider-nav li a { line-height: 0; text-indent: -4000px; background: #fff; border: solid 1px #c9c9c7; }
.slider-nav li a img { display: block; width: 94px; height: 67px; }
.slider-nav .bottom { background: url(images/thumbs-bottom.png) no-repeat 0 0; height: 10px; width: 300px; }

#main { background: #f9ecba; position: relative; }

#content { padding: 10px; width: 981px; overflow: hidden; }
#content .last { margin-right: 0; }
.sodhini {background-color: #ffffcc;border-right: 3px solid #ffffa8;border-bottom: 3px solid #ffffa8;}
.post { position: relative; display: inline; float: left; padding:0 10px; border-right: solid 1px #efefef; width: 640px;}
.post h3 { font-family: Georgia, 'Times new roman', serif; font-size: 20px; line-height: 25px; font-style: italic; color: #000; font-weight: normal; }
.post h3 { margin-bottom: 17px; padding: 0 0 3px 3px; border-bottom: solid 1px #c7bd95; }
.post h4 {font-size:14px;color:#0000FF;font-weight: 200;line-height:18px;padding-left: 21px; background: url(images/bullet.png) no-repeat 0 50%; text-decoration: none;}
.post p { padding-bottom: 20px; }
.post p.italic { color: #d22e03; font-weight: bold; font-style: italic; padding-bottom: 14px; }
.post .block-text { padding: 10px; border-bottom: 1px solid #efefef;}
.post .block-text a.title { color:green;display: inline; text-decoration: none;padding-left: 10px; }
.post .block-text a.title:hover { text-decoration: none; }
.post .block-text a.title:visited{color: #9a9a9a;}
.post .block-text p { padding: 7px 0 0 0; line-height: 18px;  }
.post .block-text span.date { float: right;font-size: 11px;font-weight: 300; line-height: 13px; color:#0063DC;  }
.post .block-text span.date  a {}
.sidebar {float:right;width:300px;padding: 0 10px}
.post .block-text .date {    float: right;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    color: #0063DC;
}

#footer { padding: 50px 0 55px; border-bottom: solid 1px #793c2e; background: #17479e; }
#footer .shell { padding-left: 9px; width: 992px; }
#footer .last { padding-right: 0; }

.col { display: inline; float: left; padding-right: 58px; width: 288px; }
.col h3 { padding: 0 0 30px 2px; font-family: Georgia, 'times new roman', serif; font-size: 22px; font-style: italic; color: #f9ecba; }
.col p { color: #d0ac7f; }
.col p a { color: #f9ecba; text-decoration: underline; }
.col ul { position: relative; margin-top: -6px; padding-left: 1px; list-style: none; }
.col ul li { font-weight: bold; line-height: 34px; border-bottom: dotted 2px #642212; height: 100%; }
.col ul li.last { border-bottom: 0; }
.col ul li a { display: block; color: #f1c58d; }

#bottom-navigation { padding: 11px 0 20px;  border-top: solid 1px #5c2a1f; }
#bottom-navigation .shell { padding-left: 10px; width: 991px; }
#bottom-navigation p { color: #79573f; }
#bottom-navigation p a { color: #79573f; }
#bottom-navigation span { padding: 0 10px 0 9px; }
#bottom-navigation .author { float:right; }

.pagination{padding: 2px;}
.pagination ul{margin: 15px 0;padding: 0;text-align: right; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #FFFF80;
}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}
